<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <!--Asure Server-->
  <connectionStrings>
    <clear />
    <add name="AzureConnection"
    connectionString="Data Source=w1757218.database.windows.net;Initial Catalog=Subin;User ID=subin_ed;Password=sbnch_218;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>

 <!--Local Server
  <connectionStrings>
    <clear />
    <add name="LocalConnection"
    connectionString="Data Source=DESKTOP-AEC7B1N;Initial Catalog=ExpenseManagement;Integrated Security=True" />
  </connectionStrings>-->
  
</configuration>