<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <!--Asure Server
  <connectionStrings>
    <clear />
    <add name="AzureConnection"
    connectionString="Server=tcp:subin.database.windows.net,1433;Initial Catalog=BudgetManagement;Persist Security Info=False;User ID=subin;Password=Aezakmi0123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>-->

 <!--Local Server-->
  <connectionStrings>
    <clear />
    <add name="LocalConnection"
    connectionString="Data Source=DESKTOP-AEC7B1N;Initial Catalog=ExpenseManagement;Integrated Security=True" />
  </connectionStrings>
  
</configuration>